__pycache__/
*.py[cod]
*$py.class

.env

*.code-workspace

htmlcov
.coverage
.vscode/*
google-services.json
coverage.xml

.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info
dist
build
.eggs
*.egg-info