[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioboto3 = "*"
pydantic-settings = "*"
pydantic = "*"
aiohttp = "*"
loguru = "*"
make = "*"
watchtower = "*"
python-json-logger = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
win32-setctime = "*"

[requires]
python_version = "3.13"
